body{
  display: flex;
  justify-content: center;
  font-family: Arial;
}

.form-element {
  margin-bottom: 10px;
}

label{
  text-transform: uppercase;
}

button {
  background: #ddd;
  border: 0;
  padding: 10px;
}


from {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 100px;
}
